
.rise {
    position: relative;
}
.rise-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.rise-inner > .item {
    height: 100%;
    opacity:0;
    z-index: -1;
    -webkit-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.rise-inner > .active {
    z-index: 10;
    opacity:1;
}

.rise-indicators li a{display:block; width:11px; height:11px; border-radius:20px; background:#fff; text-indent:-10000px;}
.rise-indicators .active a{width:18px; background:#ff7709;}

@media screen and (min-width: 1010px) {
    .rise-inner {
        height: 300px;
    }
}

@media screen and (min-width:650px) and (max-width:1010px){
    .rise-inner {
        height: 300px;
    }
}

@media screen and (min-width:0px) and (max-width:649px){
    .rise-inner {
        height: 200px;
    }
}
